@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;


}

body {
    background-color: #f6f6f6 !important;
    padding-bottom: 40px;

}

.Zindex {
    z-index: 100;
}

.info-box {
    display: none !important;
}

.info-box.active {
    display: block !important;
}

.header {
    background-color: #f6f6f6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 10px 20px;
}

a {
    color: #000000 !important;
    text-decoration: underline !important;
    font-weight: 600;
}

.dashbord-btn {
    text-decoration: none !important;
    color: #fff !important;
}

.back-btn {
    border-radius: 10px;
    border: 1px solid #A0BDD3;
    color: #256FA7;
    padding: 10px 15px 10px 15px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;

}

.mendatry {
    color: red !important;
    font-size: 18px;
}

/* ************************************** signup section start **************************** */

.signup-container {
    max-width: 880px;
    margin: auto;
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #E2E2E2;
}

.left-image {
    flex: 1;
    background-image: url('../image/img-login.png');
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.right-form {
    flex: 1;
    padding: 40px;
}

.right-form h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
    font-style: bold;
}

.form-control {
    border-radius: 10px !important;
    font-size: 14px;
}

.input-bg {
    background-color: #f9f9f9 !important;
}

.input-group .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-check-label {
    font-size: 14px;
}

.form-check-label a,
.login-link {
    text-decoration: none;
    color: #0d6efd;
}

.login-link-cnt {
    font-size: 14px !important;
    margin-top: 16px;
}

.login-link:hover,
.form-check-label a:hover {
    text-decoration: underline;
}



@media (max-width: 768px) {
    .signup-container {
        flex-direction: column;
    }

    .left-image {
        min-height: 250px;
    }
}

/* ************************************** signup section end **************************** */


/* ******************************* Email verify section start ************************************** */
.Email-verify-section {
    max-width: 440px;
    margin: 60px auto;
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    border: 1px solid #E2E2E2;
}

.verify-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 440px;
    width: 100%;

}

.verify-box h4 {
    font-weight: 700;
    font-size: 25px;
    font-style: bold;
    margin-bottom: 10px;
    text-align: left;
}

.verify-box p {
    font-size: 14px;
    color: #555;
    text-align: left;
}

.verify-box .otp-inputs {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.otp-inputs input {
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 20px;
    font-style: bold;
    font-weight: 700;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.verify-box .resend {
    font-size: 14px;
    color: #555;
    text-align: right;
}

.verify-box .resend a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

.verify-box .resend a:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: #1664c0;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

/* ******************************* Email verify section end ************************************** */


/* *************************** Basic details section start ************************************** */
.basic-details-section {
    max-width: 440px;
    margin: auto;
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #E2E2E2;
}

.details-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    max-width: 440px;
    width: 100%;
}

.details-box h5 {
    font-weight: 700;
    /* margin-bottom: 25px; */
    font-style: bold;
    font-size: 25px;
}

.form-label {
    font-size: 14px;
    font-weight: 500;
}

.form-control,
.form-select {
    border-radius: 8px;
    font-size: 14px;
}

.btn-primary {
    background-color: #1664c0;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
}

.profile-cnt {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.profile-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}


.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.upload-btn {
    font-weight: 500;
    padding: 5px 15px !important;
    font-size: 14px !important;
    border: 1px solid #ddd !important;
    border-radius: 10px !important;
}

.note {
    font-size: 14px;
    color: #777;
}

/* ******************************** Basic details section end **************************** */


/* ******************************* Location-details-section start ************************** */
.location-details-section {
    max-width: 800px;
    margin: 0px auto 100px auto !important;
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #E2E2E2;

}

.location-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 900px;
}

.location-box h5 {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 25px;
    font-style: bold;
}

.form-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.location-address-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location-address-info .Permanent-add {
    margin-right: 30% !important;
}

.form-label {
    font-size: 14px;
    font-weight: 500;
}

.form-control {
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 15px;
}


.btn-primary {
    background-color: #256FA7 !important;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    width: 300px;
    margin: 0;
}

.btn-outline-secondary {
    border-radius: 8px;
    padding: 10px 30px;
    width: 100px;
    margin-right: 16px;
}



/* ********************************** Location-details-section end *************************** */


/* ********************************** Upload Government-section start *************************** */
.upload-goverment-section {
    max-width: 460px;
    margin: 30px auto;
    display: flex;
    /* background-color: white; */
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    border: 1px solid #E2E2E2;
}

.upload-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
    max-width: 460px !important;
    width: 100%;
}

.upload-box h5 {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 25px;
    font-style: bold;
}

.form-upload {
    margin-bottom: 20px;
}

.upload-label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}

.file-container {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.choose-file-box {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

.choose-file-box i {
    margin-right: 8px;
}

.choose-file-box input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-desc {
    border-left: 1px solid #ddd;
    padding-left: 15px;
    font-size: 12px;
    color: #6c757d;
    line-height: 1.2;
    text-align: left;
    margin-top: 8px;
}

.btn-primary {
    background-color: #1664c0;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
}

.btn-outline-secondary {
    border-radius: 8px;
    padding: 10px 30px;
}

/* ********************************** Upload Government-section end *************************** */

/* ********************************** Education details section start ************************* */
.education-details-section {
    max-width: 460px;
    margin: 30px auto;
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    border: 1px solid #E2E2E2;
}

.upload-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 460px;
    width: 100%;
}

.upload-box h5 {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 25px;
    font-style: bold;
}

.form-upload {
    margin-bottom: 20px;
}

.upload-label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}

.form-control,
.form-select {
    border-radius: 8px;
    font-size: 14px;
    padding: 10px 12px;
}

.file-container {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.choose-file-box {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 14px;
    position: relative;
    min-width: 140px;
    justify-content: center;
}

.choose-file-box::before {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.choose-file-box input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-desc {
    border-left: 1px solid #ddd;
    padding-left: 15px;
    font-size: 12px;
    color: #6c757d;
    line-height: 1.2;
    text-align: left;
    margin-top: 8px;
}

.btn-primary {
    background-color: #1664c0;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
}

.btn-outline-secondary {
    border-radius: 8px;
    padding: 10px 30px;
}

/* ********************************** Education details section start ************************* */

/* ******************************** Professional-Experience-section-start ********************* */
.Professional-Experience-section {
    max-width: 460px !important;
    margin: 30px auto;
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #E2E2E2;
}

.upload-Box {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 460px !important;
    width: 100%;
}

.upload-Box h5 {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 25px;
}

.form-upload {
    margin-bottom: 20px;
}

.upload-label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}

.form-control,
.form-select {
    border-radius: 8px;
    font-size: 14px;
    padding: 10px 12px;
}

.file-container-experience {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.choose-file-box {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 14px;
    position: relative;
    min-width: 140px;
    justify-content: center;
}

.choose-file-box input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-desc {
    margin-top: 0;
    border-left: 1px solid #ddd;
    padding-left: 10px;
    font-size: 12px;
    line-height: 1.2;
    color: #6c757d;
}

.btn-primary {
    background-color: #1664c0;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
}

.btn-outline-secondary {
    border-radius: 8px;
    padding: 10px 30px;
}

.experience-block {
    background-color: #f5f5f5;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
}



/* ******************************** Professional-Experience-section-end ********************* */


/* ********************************* Job Preferences start ******************************** */
.card-custom {
    max-width: 460px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.05); */
    box-sizing: border-box;
}

.form-select {
    padding: 10px;
}

.btn-outline-primary {
    border-radius: 8px;
    padding: 8px 20px;
}

.btn-primary {
    border-radius: 8px;
    padding: 8px 35px;
}

/* ********************************* Job Preferences end ******************************** */




/* ******************************* Bank details section start *********************************** */
.bank-details-section {
    max-width: 460px;
    margin: 30px auto;
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    border: 1px solid #E2E2E2;
}

.upload-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 460px;
    width: 100%;
}

.upload-box h5 {
    font-weight: 700;
    font-size: 25px;
    font-style: bold;
    margin-bottom: 30px;
}

.form-upload {
    margin-bottom: 20px;
}

.upload-label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}

.form-control,
.form-select {
    border-radius: 8px;
    font-size: 14px;
    padding: 10px 12px;
}

.file-container {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.choose-file-box {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 14px;
    position: relative;
    min-width: 140px;
    justify-content: center;
}

.choose-file-box::before {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.choose-file-box input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-desc {
    border-left: 1px solid #ddd;
    padding-left: 15px;
    font-size: 12px;
    color: #6c757d;
    line-height: 1.2;
    text-align: left;
    margin-top: 8px;
}

.btn-primary {
    background-color: #1664c0;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
}

.btn-outline-secondary {
    border-radius: 8px;
    padding: 10px 30px;
}

/* **************************************  Bank details section end ******************************  */

/* ******************************** Registration successful section start ********************  */
.card-custom {
    max-width: 440px;
    margin: 60px auto;
    display: flex;
    background-color: white;
    border-radius: 20px !important;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    border: 1px solid #E2E2E2;
}

.card-body {
    padding: 20px !important;
}

.card-body h5 {
    font-size: 25px;
}

.status-icon {
    font-size: 1.2rem;
    color: #000000 !important;
}

.btn-custom {
    background-color: #256FA7 !important;
    color: white !important;
    border-radius: 6px;
    padding: 10px 20px;
}

.btn-custom:hover {
    background-color: #256FA7;
}

.text-start {
    font-size: 16px !important;
    color: #000000;
}

.time-info {
    font-size: 16px !important;
    color: #000000 !important;
}

/* ******************************** Registration successful section start ********************  */


/* ******************************* Login section start ************************************ */
.login-section {
    max-width: 800px;
    margin: 30px auto;
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    border: 1px solid #E2E2E2;
}

.login-section .left-image {
    flex: 1;
    background-image: url("../image/login-img2.png");
    background-size: cover;
    background-position: center;
    min-height: 400px;
}



/* ******************************** Login section end *************************************** */

/* ********************************** Login email verify section start**************************** */
.login-email-verify-section {
    max-width: 440px;
    margin: 80px auto;
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    border: 1px solid #E2E2E2;
}

.email-verify-box {
    background-color: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 15px;
    padding: 30px 25px;
    width: 100%;
    max-width: 440px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.email-verify-box h4 {
    font-weight: 700;
    margin-bottom: 25px;
    text-align: left;
    font-size: 25px;
    font-style: bold;
}

.email-input {
    border-radius: 10px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 16px;
    background-color: #f9f9f9;
}

.btn-proceed {
    background-color: #2072b3 !important;
    color: white !important;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}

.btn-proceed:hover {
    background-color: #155a90;
}

/* ********************************** Login email verify section end *******************************/


/* ********************************* Enter new password start ********************************* */
.enter-new-password-section {
    max-width: 440px;
    margin: 80px auto;
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    border: 1px solid #E2E2E2;
}

.password-box {
    background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 15px;
    padding: 30px 25px;
    width: 100%;
    max-width: 440px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.password-box h4 {
    font-weight: 700;
    font-size: 25px;
    font-style: bold;
}

.password-box p {
    font-size: 14px;
    color: #777;
}

.form-group {
    position: relative;
}

.form-control {
    border-radius: 10px;
    padding-right: 40px;
    font-size: 16px;
}

.toggle-password {
    position: absolute;
    top: 70%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 18px;
}

.eye-icon {
    position: absolute !important;
    top: 32px !important;

}

.btn-confirm {
    background-color: #2072b3 !important;
    color: #fff !important;
    font-weight: 500;
    border-radius: 10px;
    font-size: 16px;
}

.btn-confirm:hover {
    background-color: #155a90;
}

/* ********************************* Enter new password end ********************************* */



/****************************************  footer section start ***************************************/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 13px;
    color: #888;
    text-align: center;
    padding: 10px;
    background-color: #f6f6f6;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}


footer a {
    color: #0d6efd;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/****************************************  footer section end ***************************************/


/* ************************************* Dashbord style start ********************************** */
.aside-cnt {
    height: 100vh;
    position: relative;
    background-color: #fff !important;
}

.logo-cnt img {
    width: 113px;
}

.aside ul {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;

}

.aside ul li a {
    text-decoration: none !important;
    padding: 10px 20px;
    display: inline-block;
    color: #737373 !important;
    width: 100%;
}

.aside ul li a.active {
    background-color: #155a90;
    color: #fff !important;
    /* padding: 10px 20px; */
    border-radius: 10px;
    margin: 10px 0px;
}

.logout-cnt {
    position: absolute;
    bottom: 0px;
}

.logout-cnt a {
    color: red !important;
    text-decoration: none !important;
}

.logout-cnt a i {
    color: red !important;
}

.nav-cnt {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.nav-cnt h2 {
    font-size: 20px;
}

.search-box {
    padding: 10px 40px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.input-box {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    left: 12px;
    top: 16px;
    color: #000;
}

.import-box a {
    background-color: #000;
    padding: 10px;
    color: #fff !important;
    text-decoration: none !important;
    border-radius: 10px;

}

.tab-cnt {
    display: flex;
    gap: 40px !important;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.tab-cnt a {
    color: #737373 !important;
    text-decoration: none !important;
    padding: 10px 0px;
}

.tab1.active,
.tab2.active,
.tab3.active {
    border-bottom: 2px solid #000;
    color: #000 !important;
}


.table-cnt {
    /* padding: 10px 0px; */
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin: 0px 20px;
}

.input-import-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
}

table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}

table th,
td {
    padding: 14px 20px;
}

tr span {
    background: #FEFFBD;
    padding: 5px 10px;
    border-radius: 10px;

}

.view-btn {
    border: 1px solid #A0BDD3;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none !important;
    color: #256FA7 !important;

}

.table-btn-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-btn-cnt button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.table-wrapper {
    display: none;
}

.table-wrapper.active {
    display: block;
}

.tab1.active,
.tab2.active,
.tab3.active {
    border-bottom: 2px solid #000;
    color: #000 !important;
}

.pagination-button {
    background-color: white;
    /* Default background when enabled */
    color: black;
    border: 1px solid #ccc;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}

/* When button is disabled */
.pagination-button:disabled {
    background-color: #e0e0e0;
    /* Light gray */
    color: #888888;
    /* Faded text */
    cursor: not-allowed;
}



/* ************************************* Dashbord style end ********************************** */

/* ************************************ pop-up style start *********************************** */
.offcanvas-header {
    background-color: #F9FAFB;
}

.offcanvas-end {
    width: 400px;
}

.form-label {
    font-weight: 600;
    margin: 0 !important;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-input input {
    text-align: center;
}

.form-control {
    margin: 0;
}

.section-title {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #737373;
}

.badge-custom {
    background-color: #f9fafb;
    color: #333;
    font-weight: 500;
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 15px;
}

.popup-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.yellow-circle {
    width: 30px;
    height: 30px;
    background-color: #D7CA50;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}

.exam-timing {
    border-radius: 10px;
}

.green-circle {
    width: 30px;
    height: 30px;
    background-color: #06a32d;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}

/* ************************************ pop-up style end ************************************* */


/* ********************************** scrolling code start ********************************** */


.container-fluid {
    height: 100%;
    overflow: hidden;
}

.aside-cnt {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 1;
    width: 16.6667%;
}

.col-10 {
    margin-left: 16.6667%;
    height: 100vh;
    overflow-y: auto;
    padding: 1rem;
    /* Optional: for better spacing */
}


/* ********************************** scrolling code end********************************** */



/* ********************************* Responsive style for mobile device ********************* */
@media (max-width:786px) {
    .back-btn{
        width:  -webkit-fill-available;
        
    }
}

/* Desktop me hamburger hide */
.hamburger {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

/* Mobile view me hamburger show */
@media (max-width: 768px) {
    .hamburger {
        display: block;
        padding: 10px;
        background: #f5f5f5;
    }

    /* Mobile me aside by default hide */
    #mobileSidebar {
        display: none;
        position: fixed; 
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background: white;
        z-index: 1000;
        box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    }

    /* Sidebar open hone par show */
    #mobileSidebar.active {
        display: block;
    }
}




/* table or navigation responsive code  */
@media (max-width: 768px) {
    .nav-cnt {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Input & Button Responsive */
    .top-bar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

    }

    .right-cnt {
        width: 100%;
        margin: 0;
    }

    .input-import-cnt {
        width: 100%;
        display: none;
    }

    .search-box {
        width: 100%;
    }

    .import-box {
        width: 100%;
    }

    /* Table scroll */
    .table-container {
        overflow-x: auto;
    }

    table {
        min-width: 600px;

    }
}